
.login-container {
    padding: 20px;
    background: #7DAB08;
    border-radius: 5px;
    width: 30%;
    margin-left: 34%;
    margin-top: 55px;
}


.container {
    display: grid;
    margin-left: 10%;
}


h1 {
    text-align: center;
    font-size: 45px;
}


h2 {
    text-align: center;
    font-size: 40px;
}


.text {
    color: #B5DA55;
    text-decoration: none;
    margin-top: 30px;
}


.sign-up {
    display: flex;
    margin-left: 20%;
    gap: 2%;
    font-size: 23px;
}


label {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 25px;
}


input {
    width: 80%;
    padding: 20px;
    border: 5px solid #F2E5DD;
    border-radius: 4px;
    background-color: #F2E5DD;
}


button {
    width: 35%;
    padding: 10px;
    background-color: #070E50;
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 26%;
}



@media screen and (max-width: 1200px) {
    .login-container {
        width: 50%;
        margin-left: 25%;
    }

    .text {
        color: #B5DA55;
        text-decoration: none;
        margin-top: 25px;
    }
    
    
    .sign-up {
        display: flex;
        margin-left: 15%;
        gap: 2%;
        font-size: 18px;
    }
}


@media screen and (max-width: 900px) {
    .login-container {
        width: 70%;
        margin-left: 15%;
    }


    h1 {
        font-size: 40px;
    }


    h2 {
        font-size: 35px;
    }

    .text {
        color: #B5DA55;
        text-decoration: none;
        margin-top: 30px;
    }
    .text {
        color: #B5DA55;
        text-decoration: none;
        margin-top: 25px;
    }
    
    
    .sign-up {
        display: flex;
        margin-left: 15%;
        gap: 2%;
        font-size: 18px;
    }
}


@media screen and (max-width: 600px) {
    .login-container {
        width: 90%;
        margin-left: 5%;
        padding: 15px;
    }


    .container {
        margin-left: 5%;
    }


    h1 {
        font-size: 35px;
    }


    h2 {
        font-size: 30px;
    }


    label {
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
    }


    input {
        width: 90%;
        padding: 15px;
    }


    button {
        width: 50%;
        margin-left: 25%;
    }

    .text {
        color: #B5DA55;
        text-decoration: none;
        margin-top: 25px;
    }
    
    
    .sign-up {
        display: flex;
        margin-left: 15%;
        gap: 2%;
        font-size: 18px;
    }
}


@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px;
    }


    h2 {
        font-size: 25px;
    }


    label {
        font-size: 18px;
    }


    input {
        padding: 10px;
    }


    button {
        font-size: 20px;
    }


    .text {
        color: #B5DA55;
        text-decoration: none;
        margin-top: 25px;
    }
    
    
    .sign-up {
        display: flex;
        margin-left: 15%;
        gap: 2%;
        font-size: 18px;
    }
}


@media screen and (max-width: 1280px) {
    h1 {
        font-size: 30px;
    }


    h2 {
        font-size: 25px;
    }


    label {
        font-size: 18px;
    }


    input {
        padding: 10px;
    }


    button {
        font-size: 20px;
    }

    .text {
        color: #B5DA55;
        text-decoration: none;
        margin-top: 30px;
    }
    
    
    .sign-up {
        display: flex;
        margin-left: 15%;
        gap: 2%;
        font-size: 25px;
    }
}


@media screen and (max-width: 600px) {
    .login-container {
        width: 90%;
        margin-left: 5%;
        padding: 15px;
    }


    .container {
        margin-left: 5%;
    }


    h1 {
        font-size: 35px;
    }


    h2 {
        font-size: 30px;
    }


    label {
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
    }


    input {
        width: 90%;
        padding: 15px;
    }


    button {
        width: 50%;
        margin-left: 25%;
    }


    .text {
        color: #B5DA55;
        text-decoration: none;
        margin-top: 30px;
    }
    
    
    .sign-up {
        display: flex;
        margin-left: 15%;
        gap: 2%;
        font-size: 25px;
    }

}


@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px;
    }


    h2 {
        font-size: 25px;
    }


    label {
        font-size: 18px;
    }


    input {
        padding: 10px;
    }


    button {
        font-size: 20px;
    }

    .text {
        color: #B5DA55;
        text-decoration: none;
        margin-top: 19px;
    }
    
    
    .sign-up {
        display: flex;
        margin-left: 15%;
        gap: 2%;
        font-size: 13px;
    }
}
